{% extends "block-outline-base.twig" %}
{% block outline %}
	<div class="outline outline-row">
		<div class="outline-zone-1" style="width:25%"></div>
		<div class="outline-zone-2" style="width:75%"></div>
	</div>
{% endblock %}