{% extends "block-outline-base.twig" %}
{% block outline %}
	<div class="outline outline-row">
		<div class="outline-zone-1 col-md-4">Side Content</div>
		<div class="outline-zone-2 col-md-8">Main Content</div>
	</div>
{% endblock %}