{% extends "block-preview-base.twig" %}

{% block preview %}

	<div class="block-info">
		<div class="block-name">{{ block_name }}</div>
		<div class="block-description">{{ block_description }}</div>
		<div class="block-preview">

			<div class="outline outline-row">
				<div class="outline-zone-1" style="width:25%">{{ layout_zone('side_column') }}</div>
				<div class="outline-zone-2" style="width:75%">{{ layout_zone('main_column') }}</div>
			</div>

		</div>
	</div>

{% endblock %}