{% extends "block-preview-base.twig" %}

{% block preview %}

	<div class="page-block-text">
		<div class="page-block-name">{{ block_name }}</div>
		<div class="page-block-description">{{ block_description }}</div>
		<div class="page-block-preview">
			{{ page.title }}
		</div>
	</div>

{% endblock %}


