.postbox.seamless {
	border: 0 none;
    background: transparent;
    box-shadow: none;
    box-sizing: border-box;
}

.postbox.seamless .inside {
	margin: 0px !important;
}

/* ==========================================================================
   Blocks
   ========================================================================== */

.blocks * {
	box-sizing: border-box;
}

.blocks {
	margin: 0px;
	margin-bottom: 10px;
}

.block {
	border: 1px solid #dedede;
	cursor: move;
	margin: 0px;
	margin-bottom: 10px;
	padding: 0px;
}

.block-bar {
	background: #f5f5f5 url(../images/sort.png) no-repeat center left;
	border-bottom: 1px solid #dedede;
	padding: 10px;
	padding-left: 40px;
}

.block-name {
	float: left;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	margin: 0px;
}

.block-actions {
	float: right;
	white-space: nowrap;
}

.block-edit,
.block-remove {
	float: left;
}

.block-remove a {
	display: block;
	font-size: 12px;
	height: 28px;
	line-height: 28px;
	margin-left: 10px;
	margin-right: 10px;
}

.block-content {
	background: #fff;
	position: relative;
	padding: 15px;
}

.block-content-updating {
	opacity: 0.25;
}

.block-content-updating .block-content-loading {
	display: block;
}

.block-content-loading {
	display: none;
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
}

.block-content-loading .spinner {
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
	position: absolute;
	top: 50%;
	visibility: visible;
}

.ui-sortable-placeholder {
	background: rgba(0, 0, 0, 0.10);
	visibility: visible !important
}

/* ==========================================================================
   Block Picker Modal
   ========================================================================== */

.block-picker-modal {
	background: rgba(0, 0, 0, 0.7);
	bottom: 0px;
	left: 0px;
	position: fixed;
	visibility: hidden;
	right: 0px;
	top: 0px;
	z-index: 100050;
}

.block-picker-modal.block-picker-modal-visible {
	visibility: visible;
}

.block-picker-modal-frame {
	background: #fff;
	bottom: 30px;
	left: 30px;
	position: absolute;
	top: 30px;
	right: 30px;
}

.block-picker-modal-header {
	box-sizing: border-box;
	background: #fafafa;
	border-bottom: 1px solid #dedede;
	height: 60px;
	padding-left: 30px;
	padding-right: 30px;
}

.block-picker-modal-header h1 {
	height: 60px;
	line-height: 60px;
	margin: 0px !important;
	padding: 0px !important;
}

.block-picker-modal-content {
	bottom: 0px;
	left: 0px;
	position: absolute;
	padding: 30px;
	right: 0px;
	top: 60px;
}

/* ==========================================================================
   Block Templates
   ========================================================================== */

.block-template-info-list {
	margin-left: -15px;
	margin-right: -15px;
}

.block-template-info-cell {
	box-sizing: border-box;
	float: left;
	padding-left: 15px;
	parring-right: 15px;
	padding-bottom: 15px;
	width: 33.3333%;
}

.block-template-info {
	border: 1px solid #dedede;
	background: #fff;
	font-size: 14px;
	font-weight: normal;
}

.block-template-info-header {
	background: #fafafa;
	border-bottom: 1px solid #dedede;
	padding: 10px;
}

.block-template-info-name {
	font-size: 16px;
}

.block-template-info-desc {
	font-size: 13px;
	margin: 0px;
	margin-top: 5px;
}

.block-template-info-layout {
	background: #fcfcfc;
	padding: 10px;
}

.block-template-info-layout-frame {
	border: 1px solid #d6dbdd;
	background: #fff;
	box-sizing: border-box;
	display: flex;
	height: 140px;
}

.block-template-info-layout-frame > * {
	box-sizing: border-box;
}

.block-template-info-action {
	background: #fcfcfc;
	padding: 10px;
	text-align: right;
}

/* ==========================================================================
  Outline
   ========================================================================== */

.outline * {
	box-sizing: border-box;
}

.outline {
	color: rgba(0, 0, 0, 0.5);
	display: flex;
	padding: 5px;
}

.outline.outline-row {
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.outline.outline-col {
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.outline-zone-wrap {
	flex: 0 0 auto;
}

.outline-zone-fill {
	flex: 1 0 auto;
}

.outline.outline-col .outline-zone-1,
.outline.outline-col .outline-zone-2 {
	width: 100%;
}

.outline-zone-1,
.outline-zone-2 {
	align-items: center;
	display: flex;
	font-size: 13px;
	font-weight: bold;
	padding: 15px;
	justify-content: center;
	text-shadow: 0px 1px rgba(255, 255, 255, 0.25);
	text-transform: uppercase;
}

.outline-zone-1 {
	color: rgba(15, 70, 90, 0.35);
	background: rgba(50, 130, 150, 0.15);
}

.outline-zone-2 {
	color: rgba(15, 70, 90, 0.35);
	background: rgba(50, 130, 150, 0.20);
}

.outline-zone-3 {
	color: rgba(15, 70, 90, 0.35);
	background: rgba(50, 130, 150, 0.25);
}

/* ==========================================================================
   Base
   ========================================================================== */

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* ==========================================================================
   Block Edit Modal
   ========================================================================== */

.block-edit-modal {
	background: rgba(0, 0, 0, 0.7);
	bottom: 0px;
	left: 0px;
	position: fixed;
	visibility: hidden;
	right: 0px;
	top: 0px;
	z-index: 100050;
}

.block-edit-modal.block-edit-modal-visible {
	visibility: visible;
}

.block-edit-modal-frame {
	background: #fff url(../images/loader.gif) no-repeat center center;
	bottom: 30px;
	left: 30px;
	position: absolute;
	top: 30px;
	right: 30px;
}

.block-edit-modal-header {
	box-sizing: border-box;
	background: #fafafa;
	border-bottom: 1px solid #dedede;
	height: 60px;
	padding-left: 30px;
	padding-right: 30px;
}

.block-edit-modal-header h1 {
	height: 60px;
	line-height: 60px;
	margin: 0px !important;
	padding: 0px !important;
}

.block-edit-modal-content {
	bottom: 0px;
	left: 0px;
	position: absolute;
	padding: 0px;
	right: 0px;
	top: 60px;
}
