{% extends "block-outline-base.twig" %}
{% block outline %}
	<div class="outline outline-col">
		<div class="outline-zone-1 col-md-4 outline-zone-wrap">Title</div>
		<div class="outline-zone-2 col-md-8 outline-zone-fill">Content</div>
	</div>
{% endblock outline %}

