{% extends "block-preview-base.twig" %}

{% block preview %}
	<h3>{{ post.get_field('title') | default('The post title ...') }}</h3>
	{{ post.get_field('content') | default('The post content ...') }}
{% endblock %}


