{% block preview %}

	{{ render_block_edit_link(block_buib, post.id, block.id, block_id) }}

	<div class="block-text">
		<div class="block-name">{{ block_name }}</div>
		<div class="block-description">{{ block_description }}</div>
		<div class="block-preview">

		</div>
	</div>

{% endblock %}