{% if function('wpb_block_is_editable', block_buid, page, block) %}
	<div class="block-edit"><a href="{{ function('admin_url', 'post.php?&post=' ~ block.ID ~ '&action=edit&block_page=' ~ page.ID ~ '&block_id=' ~ block_id) }}" class="button">Edit</a></div>
{% endif %}

{% block preview %}

	<div class="block-text">
		<div class="block-name">{{ block_name }}</div>
		<div class="block-description">{{ block_description }}</div>
		<div class="block-preview">

		</div>
	</div>

{% endblock %}