<input type="hidden" name="_page_blocks_changed" value="false">

<div class="button block-picker-modal-show">Add block</div>

<ul class="page-blocks">
	{% for page_block in page_blocks %}
		{% include 'block-list-item.twig' %}
	{% endfor %}
</ul>

<div class="block-picker-modal">
	<div class="block-picker-modal-frame">
		<div class="block-picker-modal-header">
			<h1>Insert Block</h1>
			<button type="button" class="button-link media-modal-close block-picker-modal-hide"><span class="media-modal-icon"><span class="screen-reader-text">Close media panel</span></span></button>
		</div>
		<div class="block-picker-modal-content">
			<div class="block-template-info-list">
				{% for block_template_info in block_template_infos %}
					<div class="block-template-info-cell">
						<div class="block-template-info" data-block-template="{{block_template_info.type}}">
							<div class="block-template-info-header">
								<div class="block-template-info-name">{{block_template_info.name}}</div>
								<div class="block-template-info-desc">{{block_template_info.description}}</div>
							</div>
							<div class="block-template-info-layout">
								<div class="block-template-info-layout-frame">
									{{ function('wpb_block_overview', block_template_info.type) }}
								</div>
							</div>
							<div class="block-template-info-action">
								<div class="button button-primary button-insert">Insert</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<div class="block-edit-modal">
	<div class="block-edit-modal-frame">
		<div class="block-edit-modal-header">
			<h1>Edit Block</h1>
			<button type="button" class="button-link media-modal-close block-edit-modal-hide"><span class="media-modal-icon"><span class="screen-reader-text">Close media panel</span></span></button>
		</div>
		<div class="block-edit-modal-content">
			<iframe width="100%" height="100%"></iframe>
		</div>
	</div>
</div>