<li class="block clearfix">

	<input type="hidden" name="_page_blocks_id[]" value="{{page_block.block_id}}">

	{{
		function(
			'wpb_block_render_preview',
			page_block.block_buid,
			page_block.block_page,
			page_block.block_post,
			page_block.block_id
		)
	}}

</li>