{% extends "block-preview-base.twig" %}

{% block preview %}

	<div class="block-text">
		<div class="block-name">{{ block_name }}</div>
		<div class="block-description">{{ block_description }}</div>
		<div class="block-preview">

		</div>
	</div>

{% endblock %}